**Diabetes prediction using machine learning**


*   Python
*   Support Vector machine

Dependices libreries:


*   numpy
*   pandas

*   sklearn --> model_selection --> train_test_split

*   sklearn --> preprocessing --> StandardScaler
*  sklearn --> svm



*   sklearn --> accuracy --> accuracy_score

In [126]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn import svm
from sklearn.metrics import accuracy_score

In [127]:
# view data in DataFrame
diabetes_data = pd.read_csv('/content/diabetes.csv')

In [128]:
diabetes_data.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [129]:
diabetes_data.tail()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
763,10,101,76,48,180,32.9,0.171,63,0
764,2,122,70,27,0,36.8,0.340,27,0
765,5,121,72,23,112,26.2,0.245,30,0
766,1,126,60,0,0,30.1,0.349,47,1
767,1,93,70,31,0,30.4,0.315,23,0

In [130]:
# checking the shape of data
diabetes_data.shape

(768, 9)

In [131]:
# analysizing stastiscal meausres
diabetes_data.describe()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,120.894531,69.105469,20.536458,79.799479,31.992578,0.471876,33.240885,0.348958
std,3.369578,31.972618,19.355807,15.952218,115.244002,7.884160,0.331329,11.760232,0.476951
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.300000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,30.500000,32.000000,0.372500,29.000000,0.000000
75%,6.000000,140.250000,80.000000,32.000000,127.250000,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

In [132]:
diabetes_data['Outcome'].value_counts()

0    500
1    268
Name: Outcome, dtype: int64



*   0 --> Non Diabetes
*   1 --> Diabetes

In [133]:
# grouping data based on the classes
diabetes_data.groupby('Outcome').mean()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
Outcome,,,,,,,,
0,3.298000,109.980000,68.184000,19.664000,68.792000,30.304200,0.429734,31.190000
1,4.865672,141.257463,70.824627,22.164179,100.335821,35.142537,0.550500,37.067164

Here We can campare the features of different classes of the data, it becomes quit useful for prediction.

In [134]:
# sperating data and labels, axis = 1  columns and axis = 0 means row
X = diabetes_data.drop('Outcome', axis = 1)
Y = diabetes_data['Outcome']

In [135]:
print(X)

     Pregnancies  Glucose  BloodPressure  SkinThickness  Insulin   BMI  \
0              6      148             72             35        0  33.6
1              1       85             66             29        0  26.6
2              8      183             64              0        0  23.3
3              1       89             66             23       94  28.1
4              0      137             40             35      168  43.1
..           ...      ...            ...            ...      ...   ...
763           10      101             76             48      180  32.9
764            2      122             70             27        0  36.8
765            5      121             72             23      112  26.2
766            1      126             60              0        0  30.1
767            1       93             70             31        0  30.4

     DiabetesPedigreeFunction  Age
0                       0.627   50
1                       0.351   31
2                       0.672   32
3                       0.167   21
4                       2.288   33
..                        ...  ...
763                     0.171   63
764                     0.340   27
765                     0.245   30
766                     0.349   47
767                     0.315   23

[768 rows x 8 columns]

In [136]:
print(Y)

0      1
1      0
2      1
3      0
4      1
      ..
763    0
764    0
765    0
766    1
767    0
Name: Outcome, Length: 768, dtype: int64

In [137]:
print(X.shape)
print(Y.shape)

(768, 8)
(768,)

**Data Standardization**

In [138]:
scaler = StandardScaler()

In [139]:
X_std = scaler.fit_transform(X)

In [140]:
# Instead of above code for standardization, we can also use following code
# scaler.fit(X)
# X_std = scaler.transform(X)

In [141]:
print(X_std)
print(Y)

[[ 0.63994726  0.84832379  0.14964075 ...  0.20401277  0.46849198
   1.4259954 ]
 [-0.84488505 -1.12339636 -0.16054575 ... -0.68442195 -0.36506078
  -0.19067191]
 [ 1.23388019  1.94372388 -0.26394125 ... -1.10325546  0.60439732
  -0.10558415]
 ...
 [ 0.3429808   0.00330087  0.14964075 ... -0.73518964 -0.68519336
  -0.27575966]
 [-0.84488505  0.1597866  -0.47073225 ... -0.24020459 -0.37110101
   1.17073215]
 [-0.84488505 -0.8730192   0.04624525 ... -0.20212881 -0.47378505
  -0.87137393]]
0      1
1      0
2      1
3      0
4      1
      ..
763    0
764    0
765    0
766    1
767    0
Name: Outcome, Length: 768, dtype: int64

**Train, test split data**

In [183]:
# let's split our data into traing and testing dataset. Here stratify = Y give us same propotion according to Y
X_train, X_test, Y_train, Y_test = train_test_split(X_std,Y, test_size = 0.1, stratify = Y, random_state = 3)

In [184]:
print(X.shape,X_train.shape, X_test.shape)

(768, 8) (691, 8) (77, 8)

In [185]:
print(Y.shape,Y_train.shape,Y_test.shape)

(768,) (691,) (77,)

In [186]:
print(X_train)
print(Y_train)

[[-0.25095213  1.84983245 -0.26394125 ...  0.25478047 -0.60667027
  -0.61611067]
 [-0.84488505 -0.81042491  0.25303625 ... -0.77326542  0.60741744
   0.23476686]
 [ 0.93691372  0.25367803 -0.05715025 ...  0.82591707 -0.09929033
   0.83038113]
 ...
 [ 0.93691372  1.88112959  0.77001375 ...  0.49592704  0.34466711
   1.51108316]
 [-0.25095213 -0.27837344  0.25303625 ... -0.04982572 -0.83015905
  -0.70119842]
 [ 0.3429808  -0.77912776  0.25303625 ...  0.20401277  1.58593589
   0.83038113]]
40     0
341    0
693    1
546    1
413    0
      ..
519    0
642    1
236    1
321    1
265    0
Name: Outcome, Length: 691, dtype: int64

In [187]:
print(X_train)

[[-0.25095213  1.84983245 -0.26394125 ...  0.25478047 -0.60667027
  -0.61611067]
 [-0.84488505 -0.81042491  0.25303625 ... -0.77326542  0.60741744
   0.23476686]
 [ 0.93691372  0.25367803 -0.05715025 ...  0.82591707 -0.09929033
   0.83038113]
 ...
 [ 0.93691372  1.88112959  0.77001375 ...  0.49592704  0.34466711
   1.51108316]
 [-0.25095213 -0.27837344  0.25303625 ... -0.04982572 -0.83015905
  -0.70119842]
 [ 0.3429808  -0.77912776  0.25303625 ...  0.20401277  1.58593589
   0.83038113]]

In [188]:
print(Y_train)

40     0
341    0
693    1
546    1
413    0
      ..
519    0
642    1
236    1
321    1
265    0
Name: Outcome, Length: 691, dtype: int64

**Training model** with SVM

In [189]:
# SVC = support vector classifier
classifier = svm.SVC(kernel ='linear')

In [190]:
# traing our training dataset with support vector classifier
classifier.fit(X_train, Y_train)

SVC(kernel='linear')

**Model Evulation**

In [191]:
# accuracy on the training data
X_train_prediction = classifier.predict(X_train)
training_data_accuracy = accuracy_score(X_train_prediction, Y_train)

In [192]:
print('Accuracy on training data: ',training_data_accuracy)

Accuracy on training data:  0.768451519536903

In [193]:
# accuracy on the test data
X_test_prediction  = classifier.predict(X_test)
test_data_accuracy = accuracy_score(X_test_prediction,Y_test)

In [194]:
print('Accuracy on the test data: ', test_data_accuracy)

Accuracy on the test data:  0.8311688311688312

In [196]:
input_data = (4,110,92,0,0,37.6,0.191,30)
#chaning data into numpy array
input_data_as_numpy_array = np.asarray(input_data)

# reshaping data as we are predicting as on instance
input_data_reshaped = input_data_as_numpy_array.reshape(1,-1)
input_data_reshaped_std = scaler.fit_transform(input_data_reshaped)

# preditction
prediction = classifier.predict(input_data_reshaped_std)
print(prediction)

# **********************************************
if prediction[0] == 0:
  print('Non-Diabetes')
else:
  print('Diabetes')

[0]
Non-Diabetes

**Saving our model's weights**
with joblib modules

In [198]:
import joblib
joblib.dump(model,'Diabtes_prediction_svm.sav')

['Diabtes_prediction_svm.sav']

In [203]:
# makin prediction from weights
loaded_model = joblib.load('Diabtes_prediction_svm.sav')
loaded_model.predict(input_data_reshaped_std)

array([0])